<body>
  <div class="header">
    <div class="progress-container">
      <div class="progress-bar" id="myBar"></div>
    </div>
  </div>
  <div class="container">
    <% include ../sections/profile %>
    <% include ../sections/skills %>
    <% include ../sections/careers %>
    <% include ../sections/experiences %>
    <% include ../sections/education %>
    <% include ../sections/license %>
    <% include ../sections/about %>
  </div>
</body>