<section>
    <div class="headline">
    <h2><i class="fas fa-user-circle"></i>About me</h2>
    </div>
    <div class="other">
    <p>
        <% for (var text of profile.aboutme) { %>
            <% if (text.includes("##")) { %>
                <h6><%= text.replace("##", ""); %></h6>
            <% } else if (text.includes("#")) { %>
                <h5><%= text.replace("#", ""); %></h5>
            <% } else { %>
                <p><%= text %></p>
            <% } %>
        <% } %>
    </p>
    </div>
</section>